$navblue: #e0f7ff;
$navdarkblue: #96cddf;

$lightgreen: #f5fffa;
$green: #cef2e0;
$darkgreen: #a3bfb1;

$lightpurple: #faf5ff;
$purple: #ddcef2;
$darkpurple: #afa3bf;

$lightblue: #f5faff;
$blue: #cedff2;
$darkblue: #a3b0bf;

$sidegray: #444444;
$icongray:#54595d;
$searchbordergray: #afadad;
$searchgray: #54595D;

$bannerwhite: #fafcfe;
$bannergray: #a3b0bf;

$maingray: #f1f1f1;

$gray: #eeeeee;
$darkgray: #dddddd;

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-family: 'Arial', sans-serif;
    vertical-align: baseline;
    text-decoration: none;
    max-width: 100%;
}


.bold {
    font-weight: bold;
}

.container {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: "a b b b b b b b b b b";
    font-size: 0.90em;
    
    .main-1 {
        grid-area: a;
        background-color: $maingray;
        padding: 0% 15%;
        font-size: .95em;
        border-right: 1px solid $navdarkblue;
        border-image: linear-gradient(transparent, $navdarkblue)1;
        
        .side-main {
            padding-bottom: 15%;
            
            
            
            p {
                padding-bottom: 4%;
            }
            
            li {
                padding-bottom: 4%;
                list-style: none;
            }
            
            img {
                object-fit: contain;
                display: block;
                margin-left: auto;
                margin-right: auto;
                height: 100%;
                width: 100%;
            }
            
            .image-p {
                padding-bottom: 15%;
            }
        }
        
        .side-minor {
            padding-bottom: 15%;
            
            .side-title {
                color: $sidegray;
            }
            
            p {
                padding-bottom: 4%;
            }
            
            li {
                padding-bottom: 4%;
                list-style: none;
            }
            
            img {
                object-fit: contain;
                display: block;
                margin-left: auto;
                margin-right: auto;
                height: 100%;
                width: 100%;
            }
            
            .image-p {
                padding-bottom: 15%;
            }
            
            .underline {
                img {
                    opacity: 40%;
                    width: 80%;
                    margin: auto;
                }
            }
        }
        
    }
    
    .main-2 {
        grid-area: b;
        background-color:white;
        
        
        
        .top-nav {
            padding-bottom: 1em;
            padding: 0 1% 0 0;
            
            ul {
                list-style-type: none;
                text-align: right;
                padding: 0.90em 0 .75em .75em;
                font-size: 0.95em;
                
                li {
                    display: inline;
                    padding: 0.5em;
                }
                
            }
            
            .gray {
                color: $icongray;
            }
        }
        
        .bottom-nav {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-areas: "c c c d d d d d";
            font-size: 1.1em;
            margin-top: 1em;
            background-image: linear-gradient(white, $maingray);
            padding: 0 1% 0 0;
            border-bottom: solid 1px $navdarkblue;
            
            
            .clickable {
                background-image: linear-gradient(white,$navblue);
                border-right: 1px solid;
                border-image: linear-gradient(transparent, $navdarkblue)1;
            }
            
            .non-clickable-main {
                background-color: white;
                border-right: 1px solid;
                box-shadow: 0 1px 0px white;
                border-image: linear-gradient(transparent, $navdarkblue)1;
            }
            
            .non-clickable-read {
                background-color: white;
                box-shadow: 0 1px 0px white;
                border-left: 1px solid;
                border-right: 1px solid;
                border-image: linear-gradient(transparent, $navdarkblue)1;
            }
            
            .left-bottom-nav {
                grid-area: c;
                
                ul {
                    list-style-type: none;
                    
                    li {
                        float: left;
                        display: block;
                        padding: .8em;
                        
                    }
                }
                
            }
            
            .right-bottom-nav {
                grid-area: d;
                
                ul {
                    list-style-type: none;
                    
                    
                    .search {
                        border: solid 1px $searchbordergray;
                        border-radius: 2px;
                        color: $searchgray;
                        padding-right: 0.4em;
                    }
                    
                    .search-box {
                        height: 2.1em;
                    }
                    
                    li {
                        float: right;
                        display: block;
                        padding: .8em;
                        display: inline-flex;
                        
                    }
                    
                    #search {
                        padding: .15em;
                        padding-left: .6em;
                    }
                    
                }
            }
            
        }  
        
        
        
        
        
        .content {
            padding: 3% 2% 2% 2%;
            border-bottom: $navdarkblue solid 1px;
            
            p, li {
                line-height: 160%;;
            }
            
            h1 {
                font-size: 1.2em;
                padding: 0.2em;
            }
            
            .welcome {
                background-color: $maingray;
                border: solid 1px $darkgray;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas: "e x f f";
                text-align: center;
                padding: 1%;
                margin-bottom: 0.5em;
                
                h1 {
                    font-size: 1.8em;
                    font-weight: 400;
                    padding-bottom: 0.4em;
                }
                
                p, li {
                    font-size: 1.1em;
                    padding-bottom: 0.3em; 
                }
                
                .sub {
                    font-size: 1em;
                }
                
                .intro {
                    grid-area: e;
                    
                }
                
                .portals {
                    grid-area: f;
                    
                    
                    ul {
                        display: inline-block;
                        padding: 1% 5%;
                    }
                    
                }
                
            }
            
            .main-read {
                margin-bottom: 0.5em;
                
                .ilist {
                    list-style: none;
                    text-align: right;
                    
                    li {
                        display: inline;
                    }
                    
                    .not-last::after {
                        content: " · ";
                        font-weight: bold;
                    }
                }
                
                .withbullet {
                    padding-left: 2em;
                }
                
                .top-main-read {
                    display: grid;
                    grid-template-columns: repeat(18, 1fr);
                    grid-template-areas: 
                    "g g g g g g g g g g h h h h h h h h";
                    
                    .article {
                        grid-area: g;
                        background-color: $lightgreen;
                        padding: 0.5em;
                        margin-bottom: 0.5em;
                        margin-right: 0.25em;
                        border: $green 1px solid;
                        
                        div {
                            padding-top: 0.5em;
                            padding-bottom: 0.5em;
                        }
                        
                        h1 {
                            background-color: $green;
                            border: 1px solid $darkgreen;
                        }
                        
                        .thumbnail-1 img {
                            float: left;
                            width: 12em;
                            padding-right: 0.5em;
                        }
                        
                        .thumbnail-2 img {
                            float: right;
                            height: 12em;
                            padding-left: 0.5em;
                            
                        }
                        
                        
                    }
                    
                    .news {
                        grid-area: h;
                        background-color: $lightblue;
                        padding: 0.5em;
                        margin-bottom: 0.5em;
                        margin-left: 0.25em;
                        border: $blue 1px solid;
                        
                        div {
                            padding-top: 0.5em;
                            padding-bottom: 0.5em;
                        }
                        
                        
                        h1 {
                            background-color: $blue;
                            border: 1px solid $darkblue;
                        }
                        
                        .ilist-2 {
                            text-align: center;
                            list-style: none;
                            
                            li {
                                display: inline;
                            }
                            
                            .not-last::after {
                                content: " · ";
                                font-weight: bold;
                            }
                        }
                        
                        
                        .ilist-3 {
                            text-align: left;
                            list-style: none;
                            
                            li {
                                display: inline;
                            }
                            
                            .not-last::after {
                                content: " · ";
                                font-weight: bold;
                            }
                        }
                        
                        .thumbnail-3 img {
                            float: right;
                            height: 12em;
                        }
                        
                        .news-banner {
                            background-color: $bannerwhite;
                            border: 1px solid $bannergray;
                            margin: 1em 1em 0em 1em;
                            text-align: center;
                        }
                        
                        .thumbnail-4 img {
                            float: right;
                            height: 10em;
                            padding-left: 0.5em;
                        }
                    }
                    
                }
                
                .featured-pic {
                    background-color: $lightpurple;
                    padding: 0.5em;
                    height: 29em;
                    margin-bottom: 0.5em;
                    border: $purple 1px solid;
                    
                    h1 {
                        background-color: $purple;
                        border: solid 1px $darkpurple;
                    }
                    
                    .featured-pic-content {
                        padding-top: 0.5em;
                        padding-bottom: 0.5em;
                    }
                    .thumbnail-5 img {
                        height: 26em;
                        padding-right: 1em;
                        float: left;
                    }
                    
                    .featured-pic-text {
                        display: flex;
                        align-items: center;
                        height: 14em;
                        margin-top: 4em;
                        
                    }
                }
                
            }
            
            .wiki-notes {
                border: solid 1px $darkgray;
                padding: 0.5em;
                
                div {
                    padding: 0.5em;
                }
                
                h1 {
                    background-color: $maingray;
                    border: solid 1px $darkgray;
                }
                
                .withbullet {
                    padding-left: 2em;
                    
                    .ilist {
                        list-style: none;
                        display: inline;
                        
                        li {
                            display: inline;
                        }
                        
                        .not-last::after {
                            content: " · ";
                            font-weight: bold;
                        }
                    }
                }
                
                .complete-list {
                    text-align: center;
                }
                
                .sister-projects {
                    padding-top: 0;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);

                    a {
                        font-weight: bold;
                    }

                    img {
                        float: left;
                        clear: left;
                        padding: 0 1em;
                        height: 3em;
                        width: 3em;
                    }

                    .tag {
                        padding-bottom: 0.8em;
                    }

                }

                .sister-tag {
                    padding: 1em 0.6em;
                }
            }
            
            
            
            
        }
        
    }
}

.footer {
    list-style: none;
    
    background-color: $maingray;
    padding: 2% 2% 3% 11%;
    font-size: 0.95em;
    clear: left;
    
    .nobullet {
        list-style: none;
        padding: 0.90em 0 .75em 0;
        
        
        li {
            display: inline;
            padding-right: 1em;
        }
    }
    
    img {
        
        float: right;
        height: 3em;
        padding-left: 0.6em;
    }
    
}