@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-family: 'Arial', sans-serif;
  vertical-align: baseline;
  text-decoration: none;
  max-width: 100%; }

.bold {
  font-weight: bold; }

.container {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas: "a b b b b b b b b b b";
  font-size: 0.90em; }
  .container .main-1 {
    grid-area: a;
    background-color: #f1f1f1;
    padding: 0% 15%;
    font-size: .95em;
    border-right: 1px solid #96cddf;
    border-image: linear-gradient(transparent, #96cddf) 1; }
    .container .main-1 .side-main {
      padding-bottom: 15%; }
      .container .main-1 .side-main p {
        padding-bottom: 4%; }
      .container .main-1 .side-main li {
        padding-bottom: 4%;
        list-style: none; }
      .container .main-1 .side-main img {
        object-fit: contain;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        width: 100%; }
      .container .main-1 .side-main .image-p {
        padding-bottom: 15%; }
    .container .main-1 .side-minor {
      padding-bottom: 15%; }
      .container .main-1 .side-minor .side-title {
        color: #444444; }
      .container .main-1 .side-minor p {
        padding-bottom: 4%; }
      .container .main-1 .side-minor li {
        padding-bottom: 4%;
        list-style: none; }
      .container .main-1 .side-minor img {
        object-fit: contain;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        width: 100%; }
      .container .main-1 .side-minor .image-p {
        padding-bottom: 15%; }
      .container .main-1 .side-minor .underline img {
        opacity: 40%;
        width: 80%;
        margin: auto; }
  .container .main-2 {
    grid-area: b;
    background-color: white; }
    .container .main-2 .top-nav {
      padding-bottom: 1em;
      padding: 0 1% 0 0; }
      .container .main-2 .top-nav ul {
        list-style-type: none;
        text-align: right;
        padding: 0.90em 0 .75em .75em;
        font-size: 0.95em; }
        .container .main-2 .top-nav ul li {
          display: inline;
          padding: 0.5em; }
      .container .main-2 .top-nav .gray {
        color: #54595d; }
    .container .main-2 .bottom-nav {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-areas: "c c c d d d d d";
      font-size: 1.1em;
      margin-top: 1em;
      background-image: linear-gradient(white, #f1f1f1);
      padding: 0 1% 0 0;
      border-bottom: solid 1px #96cddf; }
      .container .main-2 .bottom-nav .clickable {
        background-image: linear-gradient(white, #e0f7ff);
        border-right: 1px solid;
        border-image: linear-gradient(transparent, #96cddf) 1; }
      .container .main-2 .bottom-nav .non-clickable-main {
        background-color: white;
        border-right: 1px solid;
        box-shadow: 0 1px 0px white;
        border-image: linear-gradient(transparent, #96cddf) 1; }
      .container .main-2 .bottom-nav .non-clickable-read {
        background-color: white;
        box-shadow: 0 1px 0px white;
        border-left: 1px solid;
        border-right: 1px solid;
        border-image: linear-gradient(transparent, #96cddf) 1; }
      .container .main-2 .bottom-nav .left-bottom-nav {
        grid-area: c; }
        .container .main-2 .bottom-nav .left-bottom-nav ul {
          list-style-type: none; }
          .container .main-2 .bottom-nav .left-bottom-nav ul li {
            float: left;
            display: block;
            padding: .8em; }
      .container .main-2 .bottom-nav .right-bottom-nav {
        grid-area: d; }
        .container .main-2 .bottom-nav .right-bottom-nav ul {
          list-style-type: none; }
          .container .main-2 .bottom-nav .right-bottom-nav ul .search {
            border: solid 1px #afadad;
            border-radius: 2px;
            color: #54595D;
            padding-right: 0.4em; }
          .container .main-2 .bottom-nav .right-bottom-nav ul .search-box {
            height: 2.1em; }
          .container .main-2 .bottom-nav .right-bottom-nav ul li {
            float: right;
            display: block;
            padding: .8em;
            display: inline-flex; }
          .container .main-2 .bottom-nav .right-bottom-nav ul #search {
            padding: .15em;
            padding-left: .6em; }
    .container .main-2 .content {
      padding: 3% 2% 2% 2%;
      border-bottom: #96cddf solid 1px; }
      .container .main-2 .content p, .container .main-2 .content li {
        line-height: 160%; }
      .container .main-2 .content h1 {
        font-size: 1.2em;
        padding: 0.2em; }
      .container .main-2 .content .welcome {
        background-color: #f1f1f1;
        border: solid 1px #dddddd;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "e x f f";
        text-align: center;
        padding: 1%;
        margin-bottom: 0.5em; }
        .container .main-2 .content .welcome h1 {
          font-size: 1.8em;
          font-weight: 400;
          padding-bottom: 0.4em; }
        .container .main-2 .content .welcome p, .container .main-2 .content .welcome li {
          font-size: 1.1em;
          padding-bottom: 0.3em; }
        .container .main-2 .content .welcome .sub {
          font-size: 1em; }
        .container .main-2 .content .welcome .intro {
          grid-area: e; }
        .container .main-2 .content .welcome .portals {
          grid-area: f; }
          .container .main-2 .content .welcome .portals ul {
            display: inline-block;
            padding: 1% 5%; }
      .container .main-2 .content .main-read {
        margin-bottom: 0.5em; }
        .container .main-2 .content .main-read .ilist {
          list-style: none;
          text-align: right; }
          .container .main-2 .content .main-read .ilist li {
            display: inline; }
          .container .main-2 .content .main-read .ilist .not-last::after {
            content: " · ";
            font-weight: bold; }
        .container .main-2 .content .main-read .withbullet {
          padding-left: 2em; }
        .container .main-2 .content .main-read .top-main-read {
          display: grid;
          grid-template-columns: repeat(18, 1fr);
          grid-template-areas: "g g g g g g g g g g h h h h h h h h"; }
          .container .main-2 .content .main-read .top-main-read .article {
            grid-area: g;
            background-color: #f5fffa;
            padding: 0.5em;
            margin-bottom: 0.5em;
            margin-right: 0.25em;
            border: #cef2e0 1px solid; }
            .container .main-2 .content .main-read .top-main-read .article div {
              padding-top: 0.5em;
              padding-bottom: 0.5em; }
            .container .main-2 .content .main-read .top-main-read .article h1 {
              background-color: #cef2e0;
              border: 1px solid #a3bfb1; }
            .container .main-2 .content .main-read .top-main-read .article .thumbnail-1 img {
              float: left;
              width: 12em;
              padding-right: 0.5em; }
            .container .main-2 .content .main-read .top-main-read .article .thumbnail-2 img {
              float: right;
              height: 12em;
              padding-left: 0.5em; }
          .container .main-2 .content .main-read .top-main-read .news {
            grid-area: h;
            background-color: #f5faff;
            padding: 0.5em;
            margin-bottom: 0.5em;
            margin-left: 0.25em;
            border: #cedff2 1px solid; }
            .container .main-2 .content .main-read .top-main-read .news div {
              padding-top: 0.5em;
              padding-bottom: 0.5em; }
            .container .main-2 .content .main-read .top-main-read .news h1 {
              background-color: #cedff2;
              border: 1px solid #a3b0bf; }
            .container .main-2 .content .main-read .top-main-read .news .ilist-2 {
              text-align: center;
              list-style: none; }
              .container .main-2 .content .main-read .top-main-read .news .ilist-2 li {
                display: inline; }
              .container .main-2 .content .main-read .top-main-read .news .ilist-2 .not-last::after {
                content: " · ";
                font-weight: bold; }
            .container .main-2 .content .main-read .top-main-read .news .ilist-3 {
              text-align: left;
              list-style: none; }
              .container .main-2 .content .main-read .top-main-read .news .ilist-3 li {
                display: inline; }
              .container .main-2 .content .main-read .top-main-read .news .ilist-3 .not-last::after {
                content: " · ";
                font-weight: bold; }
            .container .main-2 .content .main-read .top-main-read .news .thumbnail-3 img {
              float: right;
              height: 12em; }
            .container .main-2 .content .main-read .top-main-read .news .news-banner {
              background-color: #fafcfe;
              border: 1px solid #a3b0bf;
              margin: 1em 1em 0em 1em;
              text-align: center; }
            .container .main-2 .content .main-read .top-main-read .news .thumbnail-4 img {
              float: right;
              height: 10em;
              padding-left: 0.5em; }
        .container .main-2 .content .main-read .featured-pic {
          background-color: #faf5ff;
          padding: 0.5em;
          height: 29em;
          margin-bottom: 0.5em;
          border: #ddcef2 1px solid; }
          .container .main-2 .content .main-read .featured-pic h1 {
            background-color: #ddcef2;
            border: solid 1px #afa3bf; }
          .container .main-2 .content .main-read .featured-pic .featured-pic-content {
            padding-top: 0.5em;
            padding-bottom: 0.5em; }
          .container .main-2 .content .main-read .featured-pic .thumbnail-5 img {
            height: 26em;
            padding-right: 1em;
            float: left; }
          .container .main-2 .content .main-read .featured-pic .featured-pic-text {
            display: flex;
            align-items: center;
            height: 14em;
            margin-top: 4em; }
      .container .main-2 .content .wiki-notes {
        border: solid 1px #dddddd;
        padding: 0.5em; }
        .container .main-2 .content .wiki-notes div {
          padding: 0.5em; }
        .container .main-2 .content .wiki-notes h1 {
          background-color: #f1f1f1;
          border: solid 1px #dddddd; }
        .container .main-2 .content .wiki-notes .withbullet {
          padding-left: 2em; }
          .container .main-2 .content .wiki-notes .withbullet .ilist {
            list-style: none;
            display: inline; }
            .container .main-2 .content .wiki-notes .withbullet .ilist li {
              display: inline; }
            .container .main-2 .content .wiki-notes .withbullet .ilist .not-last::after {
              content: " · ";
              font-weight: bold; }
        .container .main-2 .content .wiki-notes .complete-list {
          text-align: center; }
        .container .main-2 .content .wiki-notes .sister-projects {
          padding-top: 0;
          display: grid;
          grid-template-columns: repeat(3, 1fr); }
          .container .main-2 .content .wiki-notes .sister-projects a {
            font-weight: bold; }
          .container .main-2 .content .wiki-notes .sister-projects img {
            float: left;
            clear: left;
            padding: 0 1em;
            height: 3em;
            width: 3em; }
          .container .main-2 .content .wiki-notes .sister-projects .tag {
            padding-bottom: 0.8em; }
        .container .main-2 .content .wiki-notes .sister-tag {
          padding: 1em 0.6em; }

.footer {
  list-style: none;
  background-color: #f1f1f1;
  padding: 2% 2% 3% 11%;
  font-size: 0.95em;
  clear: left; }
  .footer .nobullet {
    list-style: none;
    padding: 0.90em 0 .75em 0; }
    .footer .nobullet li {
      display: inline;
      padding-right: 1em; }
  .footer img {
    float: right;
    height: 3em;
    padding-left: 0.6em; }

/*# sourceMappingURL=style.css.map */
